body{
    background-image: url(Images/Samurai\ backgrounf.png);
    background-position: top;
    background-size: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}


.contentbg{
    padding: 5px;
    text-align: center;
}

    li{
    display: inline-block;
}

li a{
    color: rgb(161, 161, 161);
    text-decoration: none;
    padding: 3px;
    background-color: rgb(126, 0, 0);
    font-weight: bold;
    border-radius: 6px;
}

li a:hover{
    background-color: rgb(161, 161, 161);
    color: rgb(126, 0, 0);
}

section{
    padding: 15px;
}